:root {
  --main-color: #2a2a2a;
  --form-color: #373737;
  --components-color: #555555;
  --border-color: #62e200e3;
  --msg-receved-color: #707070;
  --msg-sent-color: #e5e5ea;
  --placeholder-color: #999999;
}

.infoChat {
  color: white;
  margin: 20px auto;
  padding: 0 20px;
}
.infoChat p {
  font-size: 17px;
  line-height: 1.75em;
}

body {
  background-color: #282c34;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
  display: flex;
}

.App header {
  background-color: var(--form-color);
  /* height: 10vh; */
  min-height: 50px;
  color: white;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px 17px;
  box-sizing: border-box;
}

header h1 {
  margin: 0px;
}

.App section {
  display: flex;
  width: 800px;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--main-color);
}

main {
  padding: 0 10px;
  height: 85vh;
  margin: 5px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;

  transform: translate3d(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0,0,0);
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

form {
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: var(--form-color);
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: auto;
  height: auto;
  background-color: var(--components-color);
  font-size: 1.5rem;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: var(--components-color);
  color: white;
  outline: none;
  border: none;
  padding: 0 20px;

  margin: 5px;
  border-radius: 40px;
  /* flex: 1 auto; */
  /* overflow: auto;
  text-align: start; */
}

/* input::-webkit-scrollbar {
  width: 0.25rem;
}

input::-webkit-scrollbar-track {
  background: #1e1e24;
}

input::-webkit-scrollbar-thumb {
  background: #6649b8;
} */

button {
  border: none;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  outline: none;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* .sign-in {
  color: #282c34;
  background: white;
  max-width: 400px;
  margin: 0 auto;
} */

ul,
li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: #000;
  background: var(--msg-sent-color);
  align-self: flex-end;
  word-wrap: break-word;
  text-align: start;
}

.received p {
  background: var(--msg-receved-color);
  color: #fff;
  text-align: start;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

.btnGoogle {
  background-color: var(--components-color);
  border: 2px solid var(--border-color);
  border-radius: 10px;
}

.btnSignIn {
  width: 250px;
  margin: 30px auto 0 auto;
}

::-webkit-input-placeholder {
  color: var(--placeholder-color);
}

:-moz-placeholder { /* Firefox 18- */
  color: var(--placeholder-color);  
}

::-moz-placeholder {  /* Firefox 19+ */
  color: var(--placeholder-color);  
}

:-ms-input-placeholder {  
  color: var(--placeholder-color);  
}

@media (max-width: 727px) {
  .btnSignOut {
    width: 100px;
    padding: 9px;
  }

  header h1 {
    font-size: 21px;
  }

  main {
    padding: 50px 10px;
    height: 82vh;
  }

  .message {
    display: flex;
    align-items: center;
  }

  .sent {
    flex-direction: row-reverse;
  }

  .sent p,
  .received p {
    max-width: 200px;
  }

  form {
    padding-bottom: 5px;
  }
}